{% extends "auth/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content">
    <div class="title">
        <h2>{{ title }}</h2>
    </div>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for field in form %}
      {% for error in field.errors %}
          {{ error|escape }}<br>
      {% endfor %}
    {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{form.non_field_errors}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

    <form method="POST">
      <div class="row">
        {% comment %}
        {{user_form.as_p}}
        {% endcomment %}

        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nombre de usuario</span>
          </div>
          {{ form.username }}
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Correo</span>
          </div>
          {{ form.email }}
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
          </div>
          {{ form.first_name }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Apellido</span>
          </div>
          {{ form.last_name }}
        </div>
      
        {% if form.password1 %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Contraseña</span>
          </div>
          {{ form.password1 }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Confirmar contraseña</span>
          </div>
          {{ form.password2 }}
        </div>
      
        <div style="margin-top: 10px;">
            <input type="submit" class="btn btn-outline-info" value="Registrarse">
        </div>
        {% else %}
        <div style="margin-top: 10px;">
            <input type="submit" class="btn btn-outline-info" value="Actualizar">
        </div>

        {% endif %}
      </div>
    </form>
</div>
{% endblock %}