{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
	<div class="container-fluid text-center">
		<a class="navbar-brand" href="{%url 'main_index' %}">
			<img id="logo" class="img_nav" class="img-fluid" src="{% static 'img/ic_launcher.png' %}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{%url 'main_index' %}">INICIO</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{%url 'main_index' %}">ACERCA DE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{%url 'main_index' %}">PROYECTOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{%url 'login' %}">INICIAR SESIÓN</a>
				</li>
			</ul>
		</div>
	</div>
</nav>